/* Custom CSS for whole website goes below */
html, body {
  margin: 0;
  padding: 0;
}
p {
  margin-left: 1rem;
}
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(235, 214, 255);
}
.upload-button-container {
  background-color: lightgray;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 5rem;
}

input[type="file"] {
  /* display: none; */
  padding-left: 1rem;
}

input[type=submit] {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
}

input[type="submit"]:hover {
  background-color: darkslateblue !important;
}

.custom-file-upload {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: darkpurple;
}


